* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    text-align: center;
    background-color: #f0eef1;
  }
  body > button:nth-child(2) {
    padding: 5px 10px;
    margin: 20px auto 0;
    font-size: 2rem;
    width: 200px;
    border: none;
  }
  
  
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    position: relative;
    padding: 20px;
    margin: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  
  
  body {
    font-family: Arial, sans-serif;
    background-image: url('Addbook.jpg');
  }
  
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 10vw;
    background-color: #8a5454;
    box-shadow: 0px 3px 3px #e1e4e8;
  }
  header > div:last-of-type {
    display: flex;
    justify-content: flex-end;
  }
  header > div:last-of-type > button {
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #596D48;
    color: white;
  }
  header > div:first-child {
    display: flex;
    color: rgb(43, 43, 119);
    font-size: 1.1rem;
  }
  body>div:nth-child(3){
    margin: 0 10vw;
    padding: 20px;
  }
  form{
    width: 500px;
    margin: auto;
    background-color: white;
  }
  form>div {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
  }
  form>div:last-of-type {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  form>div:last-of-type>label {
    position: relative;
    right: 38px;
  }
  form>div:last-of-type>input {
    position: absolute;
    right: 98px;
    top: 3px;
  }
  form>div:last-of-type>input:focus{
    border-radius: 5px;
    box-shadow: 0 0 0 rgb(188, 188, 223)
  }
  form>button {
    margin-top: 1.2vw;
      box-sizing: border-box;
    padding: 5px 20px;
    background-color: #344f1d;
    color: #d3c7c7;
    border-radius: 10px;
  
  }
  .modal > div > button {
    background-color: blue;
    color: white;
  }
  .cards {
    background-color: #a2c68e;
    height: 200px;
    border: 1px dotted rgba(179, 179, 179, 1);
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    position: relative;
    line-height: 1.8rem;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
  }
  .cards > p:first-of-type {
    font-style: italic;
    color: rgb(47, 47, 122);
  }
  .cards > p:last-of-type {
    color: rgb(1, 14, 3);
  }
  .cards > h2 {
    color: #101047;
  }
  .cards > button {
      box-sizing: border-box;
    padding: 5px 20px;
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 25px;
  }
  .cards > button:first-of-type {
    left: 70px;
    margin-right: 10px;
  }
  .cards > button:last-of-type {
    right: 70px;
    margin-left: 10px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin-top: 20px;
  }
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bca7a7;
    padding: 40px 20px;
    border-radius: 0.1rem;
  }
  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  label,
  input {
    box-sizing: border-box;
  }
  label {
    display: inline-block;
    font-size: max(13px, 1.2vw);
    margin-bottom: 2px;
  }
  input {
    border: 1px solid #E5E7EB;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
  }
  input + span {
    position: relative;
  }
  input + span::before {
    position: absolute;
    right: -15vw;
    top: -3.2vh;
  }
  input[pattern]:not(:placeholder-shown):not(:focus):invalid + span::before {
    content: "❌";
    color: red;
  }
  .input:placeholder-shown {
    border: 1px solid red;
    box-shadow: 1px 2px 2px rgb(238, 174, 174);
  }
  input[pattern]:not(:placeholder-shown):valid + span::before {
    content: "✔";
    color: green;
  }
  input[pattern]:not(:placeholder-shown):valid {
    border: 1px solid green;
  }
  input:focus {
    outline: none;
    border: 1px solid blue;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(188, 188, 223);
  }
  input[pattern]:invalid:focus:not(:placeholder-shown) {
    border: 1px solid red;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
  }
  input[pattern]:hover,
  input:focus {
    background-color: #eee;
  }